@import "./mixin";

.header {
  text-align: center;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 48px;
  background: #383d40;
  padding-left: 5%;
  padding-right: 5%;
  z-index: 50;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  @include respond-to("small") {
  }

  .logo {
    color: #ffffff;
    font-size: 38px;
    font-weight: 700;
  }
}
