.loginBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  height: 80%;
  max-width: 400px;
  max-height: 300px;
  text-align: center;
  background-color: #383d40;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.id {
  background: #ffffff;
  width: 80%;
}

.password {
  background: #ffffff;
  width: 80%;
}

.button {
  width: 40%;
}
