.backgroundBlack {
  background: #000000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.todoList {
  background: #ffffff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 512px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 1001;
}

.title {
  padding: 2rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 100;
  background: #22b8cf;
  color: white;
}

.form {
  padding: 1rem;
  border-bottom: 1px solid #22b8cf;
}

.todos {
  min-height: 5rem;
}

.unShow {
  display: none;
}
